<!Doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Former Clips</title>
        <link rel="stylesheet" type="text/css" href="/styles.css">
    </head>
    <body>
        <h1>Former Clips</h1>
        <p>This is the Former Clips page.</p>
    </body>
</html>
