body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-bottom: 20px;  /* 제목과 다른 요소 사이의 간격 추가 */
}

form, .center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;  /* 폼과 다른 요소 사이의 간격 추가 */
}

/* 파일 선택 및 업로드 버튼을 가로로 정렬 */
form {
    gap: 10px;  /* 요소 간의 간격 */
}

#loadingMessage {
    color: grey;
    margin-bottom: 20px;  /* 로딩 메시지와 다른 요소 사이의 간격 추가 */
}

#teams {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;  /* 팀 정보와 다른 요소 사이의 간격 추가 */
}

.team {
    width: 45%;
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 20px;  /* 팀과 팀 사이의 간격 추가 */
}

.team h2 {
    text-align: center;
    margin-bottom: 10px;  /* 팀 이름과 선수 리스트 사이의 간격 추가 */
}

.team ul {
    list-style-type: none;
    padding: 0;
}

.team ul li {
    text-align: center;
    margin-bottom: 10px;
}

#button-container {
    display: flex;
    justify-content: center;
    gap: 20px;  /* 버튼 간의 간격 */
    margin-bottom: 20px;  /* 버튼과 다른 요소 사이의 간격 추가 */
}

#originalVideoButton, #analyzedVideoButton, #formerClipsButton {
    width: 200px;  /* 버튼의 가로 길이를 줄임 */
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#originalVideoButton:hover, #analyzedVideoButton:hover, #formerClipsButton:hover {
    background-color: #45a049;
}

#video-player-container {
    display: none;
    text-align: center;
    margin-top: 20px;  /* 비디오 플레이어와 다른 요소 사이의 간격 추가 */
}

#analysisMessageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;  /* 분석 메시지와 다른 요소 사이의 간격 추가 */
}
